body {
  font-family: Arial, sans-serif;
}

.user-message {
  background-color: #ebcbae;
  margin-left: auto;
}

.bot-message {
  background-color: #c5f0a4;
  margin-right: auto;
  word-wrap: break-word;
}

.bot-message,
.user-message {
  color: black;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  max-width: 70%;
}

.stChatMessage {
  background-color: transparent;
  /* justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem; */
}

/* div[data-testid="stChatMessageAvatarUser"] {
  order: 1;
  margin-left: 10px;
}

div[data-testid="stHeadingWithActionElements"] {
  text-align: center;
} */
